@model IEnumerable<StudentApplication.Models.DepartmentVM>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <title>DeptDetailsforStudent</title>
</head>
<body style="background-color:#55765C">
    <br /><br />
    @foreach (var item in Model)
    {
        <div class="container mt-5">
            <div class="jumbotron" style="background: linear-gradient(to right, #ff9999 0%, #ccff99 100%);">
                <div class="text-center">
                    <p style="font-size:25px;color:#434944"><b>Department details</b></p>
                </div>

                <table class="table col-md-4 borderless" align="center">

                    <tbody>
                        <tr>
                            <td><b><span>DepartmentId</span></b></td>
                            <td><b>@item.departmentId</b></td>
                        </tr>
                        <tr>
                            <td><b><span>Department Name</span></b></td>
                            <td><b>@item.departmentName</b></td>
                        </tr>
                        <tr>
                            <td><b><span>Department Head  </span></b></td>
                            <td><b>@item.departmentHead</b></td>
                        </tr>

                    </tbody>
                </table>


            </div>
        </div>
    }
   

   
</body>
</html>
